<div class="jumbotron" id="jumbo-other">
	<h1>Say "Peanut Butter"!</h1>
		<h2>Pet Photography &amp; Free Treats</h2>
</div>

<h2>Give Us a Woof (or a Meow)</h2>

<div class="row">
<div class="col-xs-12 col-md-4">	
<h3>
Phone: (443) 745-6025 <br>
Email: jduvall330@gmail.com <br>
Location: Ellicott City, MD </h3>

<h3>Be sure to ask for lead photographer and animal lover, Jen Duvall, for pricing details.</h3>
</div>

<div class="col-xs-12 col-md-4">
	<div id="shelter">
<h3>Attention All Shelters and Fosters!</h3>
<p>I happily do pro "bone"-o work for any shelters, foster families or organizations, or any other not-for-profit animal organization that has a need for a photographer. Please contact me and let me know how I can help!</p>
</div>
</div>

<h3>Send Us An Email</h3>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="form-group">
			<%= label_tag :name, "Name" %>
	<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
		</div>
		<div class="form-group">
			<%= label_tag :email, "Email Address" %>
	<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
		</div>
		<div class="form-group">
			<%= label_tag :message, "Message" %>
	<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
		</div>
		<%= submit_tag "Send" %>
	</div>
</div>
<% end %>

</div>


