<p id="notice"><%= notice %></p>

<p>
  <strong>Name: </strong>
  <%= @order.name %>
</p>

<p>
  <strong>Description: </strong>
  <%= @order.description %>
</p>

<p>
  <strong>Image url</strong>
  <%= @order.image_url %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
