<p id="notice"><%= notice %></p>

<p class="product">
	<strong>Photo Package:</strong>
	<%= @product.name %>
</p>

<p class="product">
	<strong>Price:</strong>
	<%= @product.price %>
</p>


<%= form_tag("/payments/create", remote: true) do %>
<form action="" method="POST">
	<script
	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	data-image="/images/otto_paw.jpg"
	data-name=<%= @product.name %>
	data-description=<%= @product.description %>
	data-amount="<%= @product.price %>">
	</script>
</form>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
